{% extends "base.html" %}

{% block title %}Add Supplier{% endblock %}

{% block content %}
<h2>➕ Add Supplier</h2>

<form method="POST">
    <input type="hidden" name="next" value="{{ next }}">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="contact" class="form-label">Contact</label>
        <input type="text" name="contact" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <input type="text" name="type" class="form-control" required>
    </div>


    <button type="submit" class="btn btn-success">📄 Save</button>
            <a href="{{url_for('raw_stock.add_raw_stock')}}" class="btn btn-danger ms-2">ㄨ Cancel</a>

</form>
{% endblock %}