{% extends "base.html" %}

{% block title %}Edit Machinery{% endblock %}

{% block content %}
<div class="container py-4">
    <h2 class="mb-4">✎Edit Machinery</h2>

    <form method="POST" >

        <div class="mb-3">
            <label for="name" class="form-label">Machine Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ machinery.name }}" >
        </div>

        <div class="mb-3">
            <label for="type" class="form-label">Machine Type:</label>
            <input type="text" class="form-control" id="type" name="type" value="{{ machinery.type }}" >
        </div>

        <div class="mb-3">
            <label for="last_service" class="form-label">Last Service Date:</label>
            <input type="date" class="form-control" id="last_service" name="last_service"
                value="{{ machinery.last_service_date.strftime('%Y-%m-%d') if machinery.last_service_date else '' }}"
                required>
        </div>

        <div class="mb-3">
            <label for="next_service" class="form-label">Next Service Due:</label>
            <input type="date" class="form-control" id="next_service" name="next_service"
                value="{{ machinery.next_service_due.strftime('%Y-%m-%d') if machinery.next_service_due else '' }}"
                required>
        </div>


             <button type="submit" class="btn btn-success">📄 Save </button>
            <a href="{{ url_for('machinery.list_machines') }}" class="btn btn-danger">ㄨ Cancel</a>


    </form>
</div>
{% endblock %}
